﻿@model GitUp4.Models.DocumentModel

@{
    ViewBag.Title = "Create";
}

<h2>Upload Files</h2>

@using (Html.BeginForm("Create", "Document", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DocumentModel</h4>
        <hr />

        <div class="form-group">
            @Html.Label("Upload File:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file" <br />
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
        <div class="form-group">
            @Html.Label("File Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" }) 
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
