﻿@model IEnumerable<GitUp4.Models.DocumentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Repository</h2>

<p>
    @Html.ActionLink("Upload New File", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name:
        </th>
        <th>
            Type:
        </th>
        <th>
            Date Uploaded:
        </th>
        <th>
            Uploader Email:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploaderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.FileID }) ||
            @Html.ActionLink("Download", "Download", new { id=item.FileName })
        </td>
    </tr>
}

</table>
